{# empty Twig template #}
<!DOCTYPE html><html>
    <head>
        {% block head %}
            <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.1.js" ></script>
            <!-- Latest compiled and minified CSS -->
           {#  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"> #}

            <!-- Optional theme -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

            <!-- Latest compiled and minified JavaScript -->
           {# <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script> #}

            <!-- Admin template css -->

            <!-- <link rel="stylesheet" href="css/bootstrap.min.css" /> -->
          
            {% stylesheets
                'bundles/woyaodefault/css/bootstrap-responsive.min.css' 
                'bundles/woyaodefault/css/unicorn.main.css'
                'bundles/woyaodefault/css/unicorn.grey.css'
                'bundles/woyaodefault/css/bootstrap.min.css'
                filter='cssrewrite'
            %}
                <link rel="stylesheet" href="{{ asset_url }}"  type="text/css" />
            {% endstylesheets %}
           
            <title>{% block title %}{% endblock %} - My Webpage</title>
        {% endblock %}
    </head>


    <body >
        {% block body %}
            <div id="content">{% block content %}{% endblock %}</div>
            <div id="footer">
                {% block footer %}
                    &copy; Copyright 2011 by <a href="http://domain.invalid/">you</a>.
                {% endblock %}
            </div>


           
        {% endblock %}
         <!-- Admin template javascripts -->
            {% javascripts 
            '@WoYaoDefaultBundle/Resources/public/js/jquery.min.js' 
            '@WoYaoDefaultBundle/Resources/public/js/jquery.ui.custom.js' 
            '@WoYaoDefaultBundle/Resources/public/js/bootstrap.min.js' 
            '@WoYaoDefaultBundle/Resources/public/js/unicorn.js' 
           %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
    </body>

</html>
